**/target/*
**/local-maven-repo/*
**/.idea/*
**/.idea
**/*.iml
**/**/.idea/*
/Worker/metricsDB/
/Worker/derby.log
/scripts/output_logs
metricsDB/*
edgestream.*
edgestream/*
**/*.pyc
**/__pycache__/*
**/yolov3.weights
yolov3.weights
**/*.pyc
**/__pycache__/*
/metricsDB/*
./derby.log
/Worker/src/main/resources/*
